<div class="row">
    <div class="well col-xs-12">
        <div class="row">
            <h1 class="ui-center">Samstarfsaðilar HRingsins 2015 eru</h1>

            <div class="row ui-vertical">
                <div class="col-xs-4">
                    <a href="http://dominos.is"><img src="/assets/images/partners/dominos.png"
                                                     class="col-xs-8 col-xs-offset-2" alt="Dominos"/>
                    </a>
                </div>
                <div class="col-xs-4 ui-center">
                    <a href="http://tolvutek.is"><img src="/assets/images/partners/tt.png"
                                                      class="col-xs-12" alt="Tölvutek"/>
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="http://quizup.is"> <img src="/assets/images/partners/quizup.png"
                                                     class="col-xs-10 col-xs-offset-1" alt="QuizUp"/>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 ui-center"><h2>Dominos</h2></div>
                <div class="col-xs-4 ui-center"><h2>Tölvutek</h2></div>
                <div class="col-xs-4 ui-center"><h2>Quizup</h2></div>
            </div>
        </div>
    </div>
</div>