<div class="row">
    <div class="well col-xs-12">
        <div class="row">
            <h1 class="ui-center">{{ game.name }}</h1>

            <div class="col-xs-6">

            </div>
            <div ng-bind-html="rules"></div>
        </div>
    </div>
</div>