@placeholder-color: #eeeeee;

.placeholder {
	//border: 2px dashed @placeholder-color;
}

.placeholder-avatar {
	color: @placeholder-color;
}

.member {
	padding: 20px;
	.media-object {
		padding: 10px;
	}
}

.full {
	&:before{
		content: "Lið er fullt, vinsamlegast fjarlægðu mann til að bæta við";
		z-index: 11;
		width: 50%;
		height: 50%;
		overflow: auto;
		margin: auto;
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
		text-align: center;
		font-size: 2em;
		color: #ffffff;
		text-shadow: 2px 2px #000000;
	}
}