<div class="panel panel-default member">
    <div class="panel-body">
        <div class="media">
            <div class="pull-left">
                <i class="media-object fa fa-user fa-5x"
                   ng-class="{ 'placeholder-avatar' : member.placeholder }"
                   ng-hide="member.picture"></i>
                <img class="media-object" src="" alt="{{ member.name }}"
                     ng-class="{ 'placeholder-avatar' : member.placeholder }"
                     ng-show="member.picture">
            </div>
            <div class="media-body" ng-if="member._id">
                <h4 class="media-heading">{{ member.nick }}</h4>

                <p>{{ member.name }} <span>{{ member.phone }}</span></p>

                <p>{{ member.email }}</p>
                <div class="row" ng-if="$root.user.team.isAdmin">
                    <div class="col-xs-12">
                        <button class="btn btn-sm btn-primary"
                                ng-if="member._id !== $root.user._id"
                                ng-click="removeMember($root.user.team._id,member)">Fjarlægja</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

