.ui-center {
	text-align: center;
}
.ui-vertical {
	display: -webkit-flex; /* Safari */
	-webkit-align-items: center; /* Safari 7.0+ */
	display: flex;
	align-items: center;
}

.ui-overlay {
	position: relative;
	&:after {
		content: "";
		display: block;
		position: absolute; /* could also be absolute */
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 10;
		background-color: rgba(0, 0, 0, 0.6);
	}
}

.ui-color-white {
	color: #ffffff !important;
	&:visited {
		color: #ffffff !important;
	}
	&:hover {
		color: #ffffff !important;
	}
}

.ui-heading-2x {
	font-size: 30px !important;;
}