<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url }}">{{ options.title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-class="{ 'active': link.active }" ng-repeat="link in options.links">
                    <a ng-hide="link.auth && !$root.user" ui-sref="{{ link.state }}">{{ link.text }}</a>
                </li>
            </ul>
            <ul class="nav navbar-nav" ng-if="$root.user.role === 'admin'">
                <li ui-sref="admin.dashboard" class="btn-danger">
                    <a class="ui-color-white" ui-sref="admin.dashboard">Stjórnendur</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-if="$root.user">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">{{ $root.user.name }}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="user.me">Prófíll</a></li>
                        <li><a ng-click="logout()">Skrá út</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>