<div class="panel panel-default component-users">
    <div class="panel-heading">Notendur</div>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="user-search" class="col-sm-2 control-label">Leit</label>

                <div class="col-sm-6">
                    <input type="text" ng-model="term" class="form-control" id="user-search"
                           ng-change="search(term)" placeholder="Leit">
                </div>
            </div>
        </div>
    </div>
    <div class="users">
        <table class="table table-responsive table-condensed">
            <tr ng-repeat="user in users" ng-click="select(user)">
                <td>{{ user.name }}</td>
                <td>{{ user.ssn }}</td>
            </tr>
        </table>
    </div>
</div>