<div class="col-xs-12 well">
    <div class="row">
        <accordion close-others="oneAtATime">
            <accordion-group ng-repeat="faq in faqs">
            <accordion-heading>
                {{faq.question}}<button class="pull-right btn btn-xs btn-default" ng-if="$root.user.role === 'admin' || $root.user.role === 'staff'" ng-click="removeFaq(faq._id)"><i class="fa fa-times"></i></button>
            </accordion-heading>
                {{ faq.answer }}
            </accordion-group>
        </accordion>
    </div>
    <div class="row" ng-if="$root.user.role === 'admin'">
        <form class="col-xs-10 col-md-offset-1" role="form" ng-submit="createFaq(form)" name="createForm">
            <div class="form-group">
                <label for="question">Spurning</label>
                <input type="text" ng-model="form.question" class="form-control" id="question">
            </div>
            <div class="form-group">
                <label for="answer">Svar</label>
                <input type="text" ng-model="form.answer" class="form-control" id="answer">
            </div>
            <button type="submit" class="btn btn-default">Senda</button>
        </form>
    </div>
</div>