<!DOCTYPE html>
<html ng-app="lan.main">
<head>
    <title>HRingurinn 2015</title>
    <link href="/assets/css/styles.css" rel="stylesheet" type="text/css"/>
    <link href="/components/animate.css/animate.min.css" rel="stylesheet" type="text/css"/>
    <link href="/components/toastr/toastr.min.css" rel="stylesheet" type="text/css"/>
    <meta name="fragment" content="!" />
</head>
<body>
<navbar></navbar>
<div class="container" ui-view></div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>
<script src="/components/angular-animate/angular-animate.min.js"></script>
<script src="/components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/components/toastr/toastr.min.js"></script>
<script src="/components/angular-marked/angular-marked.min.js"></script>
<script src="/components/marked/marked.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
<!-- inject:js -->
<!-- any *.js files among your sources will go here as: <script src="FILE"></script> -->
<!-- endinject -->
</body>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-33393238-1', 'auto');
    ga('send', 'pageview');

</script>
<script>
    angular.module('lan.main').run(function($rootScope){
        var settings = {{{ config }}};
        $rootScope.$config = settings;
        if(settings.closeRegistration){
            evalRegistration();
            setInterval(function(){
              evalRegistration();
            }, 60000);
        }

        function evalRegistration(){
            var close = moment(settings.closeRegistration);
            var now = moment();
            $rootScope.$apply(function(){
                $rootScope.$config.register = close.diff(now) > 0;
            })
        }
    });
</script>
</html>