<div class="modal-header">
    <h3>Breyta um lykilorð</h3>
</div>
<form class="form-horizontal" role="form" name="pf">
    <div class="modal-body">
        <div class="form-group">
            <label for="currentPassword" class="col-sm-2 control-label">Núverandi Lykilorð</label>

            <div class="col-sm-10">
                <input type="password" class="form-control" id="currentPassword" ng-model="form.currentPassword"
                       placeholder="Núverandi lykilorðið" required>
            </div>
        </div>
        <div class="form-group has-feedback">
            <label for="newPassword" class="col-sm-2 control-label">Nýtt lykilorð</label>

            <div class="col-sm-10">
                <input type="password" class="form-control" id="newPassword" ng-model="form.newPassword"
                       placeholder="Nýtt lykilorð" required>
            </div>
        </div>
        <div class="form-group has-feedback">
            <label for="confirmPassword" class="col-sm-2 control-label">Staðfesta lykilorð</label>

            <div class="col-sm-10">
                <input type="password" class="form-control" id="confirmPassword" equals="form.newPassword"
                       ng-model="form.confirmPassword" placeholder="Staðfesta lykilorð" required>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="pf.$invalid" ng-click="changePassword(form)">OK</button>
        <button class="btn btn-warning" ng-click="close()">Loka</button>
    </div>
</form>