<div class="modal-header">
    <h3>Breyta um lykilorð</h3>
</div>
<form class="form-horizontal" role="form" name="pf">
    <div class="modal-body">
        <input type="file" ng-file-select="onFileSelect($files)">
        <img src="{{preview}}" style="max-width: 300px; max-height: 300px; overflow: hidden;" alt=""/>

        <div class="modal-footer">
            <button class="btn btn-primary" ng-disabled="pf.$invalid" ng-click="changePassword(form)">OK</button>
            <button class="btn btn-warning" ng-click="close()">Loka</button>
        </div>
    </div>
</form>