<section class="row">
    <div class="col-md-4 col-md-offset-4 well" ng-switch="state">
        <!--Send code-->
        <form role="form" name="ff" ng-submit="requestCode(ff)" ng-switch-default>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" ng-model="ff.email" placeholder="Email">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block" ng-disabled="ff.$invalid">Endursetja lykilorð</button>
            </div>
        </form>
        <!--Change password-->
        <form role="form" name="ff" ng-submit="changePassword(form)" ng-switch-when="password">
            <div class="form-group has-feedback" ng-class="{'has-error':ff.password.$error.minlength}">
                <label for="password" class="control-label">Lykilorð</label>
                <input type="password" name="password" ng-model="form.password" class="form-control" id="password"
                       placeholder="Password" ng-minlength="6" required>
                <span class="fa fa-exclamation-circle form-control-feedback" ng-show="ff.password.$error.minlength"></span>
            </div>

            <div class="form-group has-feedback" ng-class="{'has-error':ff.passwordAgain.$error.equals}">
                <label for="passwordAgain" class="control-label">Staðfesta lykilorð</label>
                <input type="password" name="passwordAgain" ng-model="form.passwordAgain" class="form-control"
                       id="passwordAgain" placeholder="Verify Password" equals="form.password" required>
        <span class="fa fa-exclamation-circle form-control-feedback"
              ng-show="ff.passwordAgain.$error.equals"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block" ng-disabled="ff.$invalid">Endursetja lykilorð</button>
            </div>
        </form>
        <div ng-switch-when="done">
            <p>Smelltu á hlekkinn í tölvupóstinum sem við sendum þér og breyttu um lykilorð í gegnum hann.</p>
        </div>
    </div>
</section>