 <section class="row login">
    <div class="col-md-4 col-md-offset-4 well login-form">
        <form role="form" name="lf" ng-submit="login(loginModel)" ng-if="show">
            <h2>Innskráning</h2>
            <div class="alert alert-danger" ng-show="error.show">
               {{ error.message }}
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" ng-model="loginModel.email" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" ng-model="loginModel.password" placeholder="Password" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block" ng-disabled="lf.$invalid">Innskrá</button>
            </div>
            <div class="form-separator">
                <p>eða</p>
            </div>
            <div class="form-group">
            <button type="button" class="btn btn-facebook btn-lg btn-block" ng-click="facebook()">
                <i class="fa fa-lg fa-facebook"></i>
                Facebook
            </button>
            </div>
            <div class="form-group ui-center">
                <a ui-sref="user.forgotPassword" ui-shref="user.forgotPassword">Gleymt lykilorð</a>
            </div>
        </form>
        <div ng-if="!show">
            <div class="col-xs-12 ui-center">
            <i class="fa fa-spinner fa-spin fa-3x"></i>
            </div>
        </div>
    </div>
</section>