<div class="row">
    <div class="col-xs-8">
        <div class="well">
            <div class="row">
                <h2 class="col-xs-12">Prófíll</h2>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Nafn</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">{{ $root.user.name }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">{{ $root.user.email }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Nick</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">{{ $root.user.nick }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Kennitala</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">{{ $root.user.ssn }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Símanúmer</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">{{ $root.user.phone }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Greitt</label>
                            <div class="col-sm-9">
                                <p class="form-control-static" ng-if="$root.user.entry.card + $root.user.entry.cash >= 3900"><span class="btn btn-success btn-sm">Greitt</span></p>
                                <p class="form-control-static" ng-if="$root.user.entry.card + $root.user.entry.cash < 3900"><span class="btn btn-error btn-sm">Ógreitt</span></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="well">
            <h2>Aðgerðir</h2>
            <button type="button" class="btn btn-default btn-lg btn-block"
                    ng-hide="$root.user.facebook" ng-click="linkToFacebook()">Tengja við Facebook</button>
            <button type="button" class="btn btn-default btn-lg btn-block"
                    ng-hide="$root.user.provider !== 'local'" ng-click="changePassword()">Breyta um lykilorð</button>
            <button type="button" class="btn btn-danger btn-lg btn-block"
                    ng-click="deleteUser()">Eyða notanda</button>
        </div>
    </div>
</div>

