<div class="row">
    <div class="well col-xs-12">
        <div class="row">

            <div class="col-xs-6 col-xs-offset-3">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title ui-heading-2x">Greitt á staðnum</h3>
                    </div>
                    <div class="panel-body">
                        <h4>Verð: 4900kr</h4>
                        <p>Hægt verður að greiða með peningum eða öllum helstu tegundum greiðslukorta á staðnum við innritun.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 ui-center">
                <h2>Greiðslustaða: <span class="label-success" ng-if="$root.user.entry.cash+$root.user.entry.card >= 3900">Greitt</span>
                    <span class="label-danger" ng-if="!($root.user.entry.cash+$root.user.entry.card >= 3900)">Ógreitt</span></h2>
            </div>
        </div>
    </div>
</div>