<div ng-show="$root.$config.register">
    <h2>Hvernig viltu skrá þig?</h2>
    <button type="button" class="btn btn-facebook btn-lg btn-block" ng-click="facebook()">
        <i class="fa fa-lg fa-facebook"></i>
        Facebook
    </button>
    <div class="form-separator">
        <p>eða</p>
    </div>
    <button type="button" class="btn btn-default btn-lg btn-block" ui-sref="user.register.basic">
        Venjuleg innskráning
    </button>
</div>
<div ng-hide="$root.$config.register">
    <h2>Skráningu á mótið er lokið</h2>
</div>