<form class="form" role="form" name="rf">

    <div class="form-group has-feedback" ng-class="{'has-error':rf.email.$error.email}">
        <label for="email" class="control-label">Email</label>
        <input type="email" name="email" ng-model="form.email" class="form-control" id="email" placeholder="Email"
               autofocus required>
        <span class="fa fa-exclamation-circle form-control-feedback" ng-show="rf.email.$error.email"></span>
    </div>

    <div class="form-group has-feedback" ng-class="{'has-error':rf.password.$error.minlength}">
        <label for="password" class="control-label">Password</label>
        <input type="password" name="password" ng-model="form.password" class="form-control" id="password"
               placeholder="Password" ng-minlength="6" required>
        <span class="form-control-feedback" ng-show="rf.password.$error.minlength"><i class="fa fa-exclamation-circle fa-fw" /></span>
    </div>

    <div class="form-group has-feedback" ng-class="{'has-error':rf.passwordAgain.$error.equals}">
        <label for="passwordAgain" class="control-label">Verify Password</label>
        <input type="password" name="passwordAgain" ng-model="form.passwordAgain" class="form-control"
               id="passwordAgain" placeholder="Verify Password" equals="form.password" required>
        <span class="form-control-feedback"
              ng-show="rf.passwordAgain.$error.equals"><i class="fa fa-exclamation-circle" /></span>
    </div>
    <div class="form-group clearfix">
        <div class="col-sm-6 text-center">
            <button type="button" class="btn btn-default" ui-sref="user.register.provider">Hætta</button>
        </div>
        <div class="col-sm-6 text-center">
            <button type="submit" class="btn btn-primary" ng-click="nextPage(form)" ng-disabled="rf.$invalid">Áfram
            </button>
        </div>
    </div>
</form>