<form class="form" role="form" name="infoForm">
    <div class="form-group">
        <label for="name" class="control-label">Fullt nafn</label>
        <input type="text" name="name" ng-model="form.name" class="form-control" id="name" placeholder="Nafn"
               autofocus ng-disabled="form.token" ng-minlength="3" ng-maxlength="50" required>
    </div>

    <div class="form-group">
        <label for="nick" class="control-label">Nick</label>
        <input type="text" name="nick" ng-model="form.nick" ng-minlength="3" ng-maxlength="20" class="form-control"
               id="nick" placeholder="Nick"
               required>
    </div>

    <div class="form-group has-feedback" ng-class="{'has-error':infoForm.SSN.$error.ssn}">
        <label class="control-label" for="SSN">Kennitala</label>
        <input class="form-control" type="text" name="SSN" ng-model="form.ssn" id="SSN" validate-ssn
               placeholder="Kennitala" maxlength="10" required>
        <span class="form-control-feedback" ng-show="infoForm.SSN.$error.ssn"><i class="fa fa-exclamation-circle" /></span>
    </div>

    <div class="form-group has-feedback" ng-class="{'has-error':infoForm.phone.$error.pattern}">
        <label class="control-label" for="phone">Símanúmer</label>
        <input class="form-control" type="text" name="phone" ng-model="form.phone" ng-pattern="/^\d+$/"
               ng-minlength="7"
               id="phone" placeholder="Símanúmer" required>
        <span class="form-control-feedback" ng-show="infoForm.phone.$error.pattern"><i class="fa fa-exclamation-circle" /></span>
    </div>
    <div class="form-group clearfix">
        <div class="col-sm-6 text-center">
            <button type="button" class="btn btn-default" ui-sref="user.register.provider">Hætta</button>
        </div>
        <div class="col-sm-6 text-center">
            <button type="submit" class="btn btn-primary" ng-disabled="infoForm.$invalid" ng-click="register(form)">
                Áfram
            </button>
        </div>
    </div>
</form>