.btn {
	&.btn-facebook {
		color: #fff;
		background-color: #3b5998;
		border-color: rgba(0, 0, 0, 0.2);
		text-align: center;
		padding-left: 10px;
		position: relative;
		.fa {
			border-right: 1px solid white;
			padding-right: 10px;
		}
	}
}