.form-separator {
	border-top: 2px dotted #eee;
	position: relative;
	text-align: center;
	top: 20px;
	height: 40px;
	margin: 10px 0 10px 0;
	p {
		display: inline;
		background: white;
		position: absolute;
		top: -12px;

	}
}