<section class="team-create">
    <div class="row">
        <div class="col-md-12 well">
            <form class="form-horizontal" role="form" name="tf">
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Nafn</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" placeholder="Nafn"
                               ng-model="form.name" ng-minlength="3" ng-maxlength="40" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Leikur</label>

                    <div class="col-sm-10">
                        <select class="form-control" ng-model="form.game" ng-options="game.fullName for game in games" required>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-block btn-primary" ng-click="createTeam(form)" ng-disabled="tf.$invalid">Skrá lið</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>