<div class="modal-header">
    <h3>Eyða liði</h3>
</div>

<div class="modal-body">
    <p>Ertu viss um að þú viljir eyða liðinu?</p>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="confirm()">Eyða</button>
    <button class="btn btn-warning" ng-click="close()">Loka</button>
</div>