<section class="team-list">
    <div class="row">
        <div class="col-xs-2 pull-right">
            <button class="btn btn-success btn-block" ng-if="!$root.user.team || $root.user.team.isApplicant" ui-sref="team.create">Nýtt lið</button>
            <button class="btn btn-warning btn-block" ng-if="$root.user.team && !$root.user.team.isApplicant"
                    ui-sref="team.view({id: $root.user.team._id})">Mitt lið
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 well">
            <table class="table table-condensed table-hover">
                <thead>
                <tr>
                    <th>Nafn</th>
                    <th>Leikur</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="team in teams" ng-click="viewTeam(team._id)">
                    <td>{{ team.name }}</td>
                    <td>{{ team.game.name }}</td>
                    <td>
                        <button class="btn btn-primary btn-sm"
                                ng-click="joinTeam($event,team._id)"
                                ng-if="$root.user.team._id !== team._id && !$root.user.team.isApplicant && team.game.maxNumberOfPlayers > 1">Sækja um í lið</button>
                        <button class="btn btn-warning btn-sm"
                                ui-sref="team.view({id: $root.user.team._id})"
                                ng-if="$root.user.team._id === team._id && !$root.user.team.isApplicant">Mitt lið</button>
                        <button class="btn btn-success btn-sm"
                                ng-if="$root.user.team._id === team._id && $root.user.team.isApplicant">Umsókn send</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>