<section class="team-view">
    <div class="row">
        <div class="col-xs-2 pull-right">
            <button class="btn btn-danger btn-block" ng-if="$root.user.team.isAdmin" ng-click="deleteTeam()">Eyða liði</button>
            <button class="btn btn-danger btn-block" ng-if="!$root.user.team.isAdmin" ng-click="quitTeam(team._id,$root.user._id)">Hætta í liði</button>
        </div>
    </div>
    <div class="well">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">{{ team.name }}</h1>

                <p class="text-center">{{ team.game.fullName }} ({{ team.game.name }})</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
            <div class="row" ng-repeat="row in team.members">
                <team-member class="col-xs-12 col-md-6" member="member" refresh="getTeam()" ng-repeat="member in row"></team-member>
            </div>
            </div>
        </div>
    </div>

    <div class="well" ng-class="{'ui-overlay full': currentPlayers >= team.game.maxNumberOfPlayers}" ng-if="team.applicants.length > 0 && user.team.isAdmin && user.team._id == team._id">
        <h2 class="ui-center">Umsóknir</h2>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">

                <table class="table">
                    <thead>
                    <tr>
                        <th style="width: 60%;">Nafn</th>
                        <th style="width: 30%;">Nick</th>
                        <th style="width: 10%;">Aðgerðir</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="user in team.applicants">
                        <td style="width: 60%;">{{ user.name }}</td>
                        <td style="width: 30%;">{{ user.nick }}</td>
                        <td style="width: 10%;">
                            <button class="btn btn-primary"
                                    ng-click="approveInTeam(team._id, user._id)">Samþykkja</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>