<div class="col-xs-12 well">
    <div class="row">
        <div class="col-xs-12">

            <h1>Stjórnborð</h1>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-xs-4 control-label">Skráning byrjar</label>

                    <div class="col-xs-8">
                        <p class="form-control-static">{{model.openRegistration | moment}}</p>
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-xs-4 control-label">Skráning endar</label>

                    <div class="col-xs-8" ng-hide="edit">
                        <p class="form-control-static">{{ model.closeRegistration | moment}}</p>
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-xs-4 control-label">Fjöldi skráðra keppenda</label>

                    <div class="col-xs-8">
                        <p class="form-control-static">{{ model.numberOfUsers }}</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-4 control-label">Fjöldi skráðra sem eru ekki keppendur</label>

                    <div class="col-xs-8">
                        <p class="form-control-static">{{ model.numberOfOtherRoles }}</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-4 control-label">Fjöldi skráðra í lið</label>

                    <div class="col-xs-8">
                        <p class="form-control-static">{{ model.numberOfUsersInTeam }}</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-4 control-label">Fjöldri skráðra án liðs</label>

                    <div class="col-xs-8">
                        <p class="form-control-static">{{ model.numberOfUsersNotInTeam }}</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-4 control-label">Verð</label>

                    <div class="col-xs-8">
                        <p class="form-control-static">{{ model.price}} kr</p>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-4">
            <button type="button" class="btn btn-primary btn-lg btn-block" ui-sref="admin.users">Listi yfir skráða <i
                    class="fa fa-user"></i></button>
            <button type="button" class="btn btn-default btn-lg btn-block" ui-sref="admin.list">Lið <i
                    class="fa fa-users"></i></button>
            <button type="button" class="btn btn-default btn-lg btn-block" ui-sref="admin.entry">Innrita <i
                    class="fa fa-arrow-right"></i></button>
            <button type="button" class="btn btn-default btn-lg btn-block">Leikir <i class="fa fa-gamepad"></i></button>
            <button type="button" class="btn btn-default btn-lg btn-block" ui-sref="admin.vouchers">Vouchers <i
                    class="fa fa-ticket"></i></button>
        </div>
    </div>
</div>