<section>
    <div class="row">
        <div class="col-md-12 well">
            <div class="row">
                <div class="col-md-3">
                    <label for="search">Leit: </label>
                    <input type="text" id="search" ng-model="search"/>
                </div>
                <div class="col-md-3 col-md-offset-6">
                    <label for="notandi">Notandi</label>
                    <input id="notandi" type="checkbox" ng-model="filterRoles.user"/>

                    <label for="admin" >Admin</label>
                    <input id="admin" type="checkbox" ng-model="filterRoles.admin"/>

                    <label for="staff">Staff</label>
                    <input id="staff" type="checkbox" ng-model="filterRoles.staff"/>
                </div>
            </div>
            <table class="table table-condensed table-hover" ng-init="order = 'name'">
                <thead>
                <tr>
                    <th ng-click="order = 'name'">Nafn <i class="fa fa-sort"></i></th>
                    <th ng-click="order = 'ssn'">Kt <i class="fa fa-sort"></i></th>
                    <th ng-click="order = 'phone'">Sími <i class="fa fa-sort"></i></th>
                    <th ng-click="order = 'email'">Email <i class="fa fa-sort"></i></th>
                    <th ng-click="order = 'nick'">Nick <i class="fa fa-sort"></i></th>
                    <th ng-click="order = 'role'">Role <i class="fa fa-sort"></i></th>
                    <th>Greitt</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in users | orderBy: order | roles:filterRoles | filter: search">
                    <td>{{ user.name }}</td>
                    <td>{{ user.ssn }}</td>
                    <td>{{ user.phone }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.nick }}</td>
                    <td><span class="label label-default">{{ user.role }}</span></td>
                    <td><i class="fa fa-check text-success" ng-show="user.entry.cash + user.entry.card >= 3900"></i>
                        <i class="fa fa-times text-danger" ng-hide="user.entry.cash + user.entry.card >= 3900"></i></td>
                    <td><button class="btn btn-default" ng-click="edit(user)">Aðgerðir</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>