<div class="modal-header">
    <h3>{{ team.name }}</h3>
</div>
<div class="modal-body">
    <div>
        <div class="form-group">
            <label for="name">Nafn</label>
            <input type="text" class="form-control" id="name" ng-model="team.name">
            <!--<label for="game">Leikur</label>
            <select name="game" id="game" class="form-control">
                <option ng-repeat="game in games" value="{{ game._id }}">{{ game.fullName }}</option>
            </select>-->
        </div>
        <div>
            <div>
                <h3>Meðlimir</h3>
            </div>
            <table class="table table-condensed table-hover">
                <thead>
                <tr>
                    <th>Nick</th>
                    <th>Nafn</th>
                    <th>Kt</th>
                    <th>Sími</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="member in team.members">
                    <td>{{ member.nick }}</td>
                    <td>{{ member.name }}</td>
                    <td>{{ member.ssn }}</td>
                    <td>{{ member.phone }}</td>
                    <td style="width: 20px;">
                        <button class="btn btn-default btn-sm"
                                ng-click="removeMember(member)"><i class="fa fa-times"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ng-if="team.applicants.length > 0">
            <div>
                <h3>Umsækjendur</h3>
            </div>
            <table class="table table-condensed table-hover">
                <thead>
                <tr>
                    <th>Nick</th>
                    <th>Nafn</th>
                    <th>Kt</th>
                    <th>Sími</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="applicant in team.applicants">
                    <td>{{ applicant.nick }}</td>
                    <td>{{ applicant.name }}</td>
                    <td>{{ applicant.ssn }}</td>
                    <td>{{ applicant.phone }}</td>
                    <td>
                        <button class="btn btn-default btn-sm"
                                ng-click="removeMember(applicant)"><i class="fa fa-times"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="saveTeam(team)">OK</button>
    <button class="btn btn-warning" ng-click="close()">Loka</button>
</div>