<section class="col-xs-12 well">
    <div class="row" ng-hide="response">
        <users class="col-xs-6" on-select="userSelected"/>
        <div class=" col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">Skrá inn..</div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <fieldset>
                            <legend>Almennar upplýsingar:</legend>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Nafn</label>

                                <div class="col-sm-8">
                                    <input class="form-control" type="text" ng-model="selectedUser.name"
                                           ng-disabled="!isNewUser">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Kt</label>

                                <div class="col-sm-8">
                                    <input class="form-control" type="text" ng-model="selectedUser.ssn"
                                           ng-disabled="!isNewUser">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Email</label>

                                <div class="col-sm-8">
                                    <input class="form-control" type="email" ng-model="selectedUser.email"
                                           ng-disabled="!isNewUser">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Símanúmer</label>

                                <div class="col-sm-8">
                                    <input class="form-control" type="text" ng-model="selectedUser.phone"
                                           ng-disabled="!isNewUser">
                                </div>
                            </div>
                        </fieldset>
                        <fieldset ng-show="is18(selectedUser.ssn)">
                            <legend>Leyfisbréf:</legend>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Foreldri/Forráðamenn</label>

                                <div class="col-sm-8">
                                    <input class="form-control" type="text" ng-model="selectedUser.entry.parentName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Símanúmer foreldra</label>

                                <div class="col-sm-8">
                                    <input class="form-control" type="tel" ng-model="selectedUser.entry.parentPhone">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Kt foreldra</label>

                                <div class="col-sm-8">
                                    <input class="form-control" type="text" ng-model="selectedUser.entry.parentSSN">
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Upplýsingar um skráningu:</legend>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Athugasemd</label>

                                <div class="col-sm-8">
                                    <textarea class="form-control" ng-model="selectedUser.entry.comment">

                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group" ng-show="selectedUser.entry.token">
                                <label class="col-sm-4 control-label">Voucher</label>

                                <div class="col-sm-8">
                                    <input class="form-control" type="text" ng-model="selectedUser.entry.token"
                                           disabled="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Greitt</label>

                                <div class="col-xs-8">
                                    <div class="input-group">
                                        <input type="number" class="form-control" ng-model="selectedUser.entry.card">
                                        <span class="input-group-addon">Kort</span>
                                    </div>
                                    <br/>

                                    <div class="input-group">
                                        <input type="number" class="form-control" ng-model="selectedUser.entry.cash">
                                        <span class="input-group-addon">Peningar</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Samtals</label>

                                <div class="col-sm-8">
                                    <p class="form-control-static">{{ selectedUser.entry.card+selectedUser.entry.cash }}</p>
                                </div>
                            </div>
                        </fieldset>
                        <div class="row">
                            <div class="col-xs-4 col-xs-offset-2">
                                <button class="btn btn-block btn-danger" ng-click="newUser()">Nýr notandi/Hreinsa
                                </button>
                            </div>
                            <div class="col-xs-4">
                                <button class="btn btn-block btn-primary"
                                        ng-hide="selectedUser.entry.entryTime"
                                        ng-click="finish()">Skrá inn
                                </button>
                                <button class="btn btn-block btn-primary"
                                        ng-show="selectedUser.entry.entryTime"
                                        ng-click="rePrint()">Prenta aftur
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="response">
        <div class="col-xs-12 ui-center">
            <h1>Velkomin(n) á HRinginn 2014</h1>
            <h2>{{ selectedUser.name }}</h2>

            <div class="panel panel-default">
                <div class="panel-heading"><h3>Nokkrir hlutir sem þarf að hafa í huga</h3></div>
                <div class="panel-body">
                    <ul class="list-unstyled rules">
                        <li><i class="fa fa-chevron-right"></i> Húsinu er læst á slaginu kl 23:00 (Hægt að komast út en ekki inn)</li>
                        <li><i class="fa fa-chevron-right"></i> Sjoppan er á annarri hæð.</li>
                        <li><i class="fa fa-chevron-right"></i> Pizzur verða til sölu í sjoppunni</li>
                        <li><i class="fa fa-chevron-right"></i> Ruslatunnur eru við endann á hverju einasta borði.
                        </li>
                        <li><i class="fa fa-chevron-right"></i> Flöskur fara ekki í ruslatunnur. Þær fara í flöskupoka!</li>
                        <li><i class="fa fa-chevron-right"></i> Admin verða á svæðinu í merktum ADMIN bolum allan
                            sólahringinn.
                        </li>
                        <li><i class="fa fa-chevron-right"></i> Svefnaðstaða er til staðar í stofu V201, vinstra megin
                            við sjoppuna á annarri hæð.
                        </li>
                        <li><i class="fa fa-chevron-right"></i> Mótinu líkur formlega klukkan 17:00 á sunnudaginn.</li>
                        <li><i class="fa fa-chevron-right"></i> GANGIÐI SNYRTILEGA UM KLÓSETTIN. Þið eruð að fara að
                            nota þau alla helgina.
                        </li>
                    </ul>
                    <h4 class="ui-center">
                        VAKTASÍMAR: 662-6644 og 692-3707
                    </h4>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Til þess að komast á netið</h3></div>
                <div class="panel-body">
                    <ol>
                        <li>Tengdu tölvuna þína í rafmagn og net</li>
                        <li>Passaðu að það sé slökkt á þráðlausa netinu</li>
                        <li>Opnaðu vafra(Chrome, Firefox, IE) og farðu inná http://hringurinn.net</li>
                        <li>Sláðu inn veflykilinn hér fyrir neðan inn í gluggan og þú ert tengdur</li>
                        <li>Njóttu skemmtuninnar!</li>
                    </ol>
                    <div class="col-xs-6 col-xs-offset-3 panel panel-default">
                        <h3>Netlykill</h3>

                        <p ng-show="selectedUser.entry.token">{{ selectedUser.entry.token }}</p>
                        <p ng-show="response.token">{{ response.token }}</p>
                    </div>
                </div>
                <div class="panel panel-default" ng-show="response.password">
                    <div class="panel-heading">Lykilorð</div>
                    <div class="panel-body">
                        <p>{{ response.password }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-xs-offset-3">
                <button class="btn btn-danger btn-block hidden-print" ng-click="clear()">Til baka</button>
            </div>
            <div class="col-xs-3">
                <button class="btn btn-primary btn-block hidden-print" ng-click="print()">Prenta</button>
            </div>
        </div>
    </div>
</section>