<section class="team-list">
    <div class="col-md-12 well">
        <div class="row">
            <div class="col-xs-3 col-xs-offset-1" style="height: 50px;">
                <label for="search">Leit: </label>
                <input id="search" type="text" ng-model="searchTerm"/>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-xs-offset-1 panel panel-default ui-center" ng-click="selectedOrder = 'game.name'">Leikur <i class="fa fa-sort"></i></div>
            <div class="col-xs-6 panel panel-default ui-center" ng-click="selectedOrder = 'name'">Nafn <i class="fa fa-sort"></i></div>
        </div>
        <div class="row" ng-repeat="team in teams | filter: searchTerm | orderBy: selectedOrder">
            <div class="col-xs-10 col-xs-offset-1 panel panel-default">
                <div class="row" ng-click="team.show = !team.show">
                    <div class="col-xs-1">
                        <h1><span class="label" ng-class="gameClass(team.game.name)">{{team.game.name[0]}}</span></h1>
                    </div>
                    <div class="col-xs-10">
                        <p class="h3 ui-center" style="margin: 10px 0px 10px 0px;">{{ team.name }}</p>
                        <div class="col-xs-4">
                            <span class="text-muted col-xs-12">Leikur: {{ team.game.name }}</span><br/>
                            <span class="text-muted col-xs-12">Lið: {{ team.members.length }} / {{team.game.minNumberOfPlayers}}</span>
                        </div>
                        <div class="col-xs-6">
                            <span class="text-muted col-xs-12">Stjórnandi: {{ team.admin.name }}</span>
                            <span class="text-muted col-xs-12">Email: {{ team.admin.email }}</span><br/>
                            <span class="text-muted col-xs-12">Sími: {{ team.admin.phone }}</span>
                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-sm btn-primary" ng-click="edit(team)">Breyta/Skoða</button>
                        </div>

                    </div>
                    <div class="col-xs-1">
                        <i class="fa fa-chevron-down text-muted" ng-hide="team.show"></i>
                        <i class="fa fa-chevron-up text-muted" ng-show="team.show"></i>
                    </div>
                </div>
                <div class="row" ng-show="team.show">
                    <br/>
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <table>
                                    <tr>
                                        <th>Nafn</th>
                                        <th>Nick</th>
                                        <th>Email</th>
                                        <th>Sími</th>
                                        <th>Kt</th>
                                        <th>Annað</th>
                                    </tr>
                                    <tr ng-repeat="member in team.members">
                                        <td style="width: 20%;">{{ member.name }}</td>
                                        <td style="width: 20%;">{{ member.nick }}</td>
                                        <td style="width: 15%;">{{ member.email }}</td>
                                        <td style="width: 15%;">{{ member.phone }}</td>
                                        <td style="width: 15%;">{{ member.ssn }}</td>
                                        <td style="width: 15%;">
                                            <span class="label label-success"
                                                ng-show="team.admin._id === member._id">Liðstjóri</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <table class="table table-condensed table-hover">
            <thead>
            <tr>
                <th>Nafn</th>
                <th>Leikur</th>
                <th>Aðgerðir</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat-start="team in teams | filter:searchText" ng-click="team.active = !team.active">
                <td style="width: 45%;">{{ team.name }}</td>
                <td style="width: 45%;">{{ team.game.name }}</td>
                <td style="width: 10%;">
                    <button class="btn btn-primary" ng-click="edit(team)">Breyta/Skoða</button>
                </td>
            </tr>
            <tr ng-repeat-end ng-show="team.active" ng-repeat="member in team.members | filter:searchText">
                <td style="width: 45%;">{{ member.nick }}</td>
                <td style="width: 45%;">{{ member.name }}</td>
                <td style="width: 10%;"><span class="label label-success" ng-show="team.admin === member._id">Liðstjóri</span>
                </td>
            </tr>
            </tbody>
        </table>-->
    </div>
</section>