<div class="modal-header">
    <h3>{{ user.name }}</h3>
</div>
<div class="modal-body">
    <div>
        <div class="form-group">
            <label for="name">Nafn</label>
            <input type="text" class="form-control" id="name" ng-model="user.name">
        </div>
        <div class="form-group">
            <label for="nick">Nick</label>
            <input type="text" class="form-control" id="nick" ng-model="user.nick">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" ng-model="user.email">
        </div>
        <div class="form-group">
            <label for="phone">Sími</label>
            <input type="text" class="form-control" id="phone" ng-model="user.phone">
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Greitt</label>

            <div class="col-xs-8">
                <div class="input-group">
                    <input type="number" class="form-control" ng-model="user.entry.card">
                    <span class="input-group-addon">Kort</span>
                </div>
                <br/>

                <div class="input-group">
                    <input type="number" class="form-control" ng-model="user.entry.cash">
                    <span class="input-group-addon">Peningar</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="role">Role</label><br>
            <div id="role" class="btn-group">
                <label class="btn btn-primary" ng-model="user.role" btn-radio="'user'" uncheckable>User</label>
                <label class="btn btn-primary" ng-model="user.role" btn-radio="'staff'" uncheckable>Staff</label>
                <label class="btn btn-primary" ng-model="user.role" btn-radio="'admin'" uncheckable>Admin</label>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="saveUser(user)">OK</button>
    <button class="btn btn-warning" ng-click="close()">Loka</button>
</div>