<section class="col-xs-12 well">
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-success" ng-click="getSingleVoucher()">Sækja einn voucher</button>
            <ul>
                <li ng-repeat="v in singleVouchers">{{ v.token }}</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <th>Voucher token</th>
            </thead>
            <tr ng-repeat="voucher in vouchers">
                <td> {{voucher.token}}</td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">Bæta við voucherum</div>
            <div class="panel-body">
                <form class="col-xs-8" role="form">
                    <div class="form-group">
                        <label for="exampleInputFile">Voucher file</label>
                        <file-uploader file="file"></file-uploader>
                        <p class="help-block">Texta skrá þar sem hver voucher er í sér línu</p>
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="sendVouchers()">Senda</button>
                </form>
                <div class="col-xs-4">
                    <button class="btn btn-primary" ng-click="clearVouchers()">Eyða voucherum</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>