<section class="row dashboard">
    <div class="col-xs-6 col-xs-offset-3 logo">
        <img src="/assets/images/banner.png" alt="HRingurinn logo"/>
    </div>
    <div class="col-xs-4 well" ng-show="!$root.user && $root.$config.register">
        <h2>Skráðu þig!</h2>
        <button class="btn btn-primary" ui-sref="user.register.provider">Skráning hér</button>
        <h2>Ertu nú þegar búinn að skrá þig?</h2>
        <button class="btn btn-default" ui-sref="user.login">Innskráning</button>
    </div>

    <div class="col-xs-4 well" ng-show="!$root.user && !$root.$config.register">
        <h1>Stærsta LANmót ársins 2015 dagana 7.- 9. ágúst</h1>

        <h3>Skráningu er lokið</h3>
        <button class="btn btn-primary" ui-sref="user.login">Innskráning</button>
    </div>
    <div class="col-xs-4 well text-center" ng-show="$root.user">
        <div class="row">

            <h1>Velkomin(n)</h1>

            <h2>á stærsta LANmót ársins 2015 <br/> dagana 7.- 9. ágúst</h2>
        </div>
        <div class="row">
            <h3>Fyrir þá sem eru undir 18 ára aldri þá er hægt að nálgast leyfisbréf <a
                    href="http://hringurinn.net/public/Leyfisbref2015.pdf" target="_blank">hér</a></h3>
        </div>
    </div>
    <div class="col-xs-7 col-xs-offset-1 well">
        <div class="row">
            <div class="row ui-vertical">
                <div class="col-xs-4">
                    <a href="http://dominos.is"><img src="/assets/images/partners/dominos.png"
                                                     class="col-xs-8 col-xs-offset-2" alt="Dominos"/>
                    </a>
                </div>
                <div class="col-xs-4 ui-center">
                    <a href="http://tolvutek.is"><img src="/assets/images/partners/tt.png"
                                                      class="col-xs-12" alt="Tölvutek"/>
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="http://quizup.is"> <img src="/assets/images/partners/quizup.png"
                                                     class="col-xs-10 col-xs-offset-1" alt="QuizUp"/>
                    </a>
                </div>
            </div>
        </div>
        <h2>Leikir</h2>

        <div class="list-group">
            <a class="list-group-item" ng-repeat="game in games | orderBy: 'name'">
                {{ game.fullName }}</a>
        </div>
    </div>
</section>